*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body{
    justify-content: center;
    align-items: center;
    font-size: 18px;
    font-weight: 400, 700;
    font-family: sans sans-serif;
}
header{
    width: 100%;
    justify-content: center;
    align-items: center;
    background-image: url(./images/bg-hero-desktop.svg);
    background-color: hsl(322, 100%, 98%);
    padding: 50px;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}
.A{
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}
.B{
    display: flex;
    margin-top: 180px;
    justify-content: space-between;
    gap: 50px;
}
.B_2 img{
    width: 100%;
}
.A button{
    background-color: white;
    border-radius: 25px;
    width: 150px;
    height: 50px;
    border: none;
    box-shadow: -7px 11px 15px -8px rgba(0,0,0,0.1);
    cursor: pointer;
    font-weight: bold;
    font-size: 17px;
    
}
h1{
    font-size: 450%;
    margin-top: 40px;
}
.B_1 p{
    font-size: 170%;
    width: 100%;
    margin-top: 30px;
}
.B_1 button{
    background-color: hsl(322, 100%, 66%);
    border-radius: 50px;
    width: 350px;
    height: 60px;
    border: none;
    box-shadow: -7px 11px 15px -8px rgba(0,0,0,0.1);
    color: #fff;
    font-size: 25px;
    margin-top: 70px;
}
.B_1 button:hover{
    background-color: #FE7DD2 ;
    cursor: pointer;
}
.B_1{
    width: 50%;        
}
.B_2{
    width: 50%;
}

main{
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.C {
    display: flex;
    background-color:#FFFFFF;
    margin: 60px;
    border-radius: 20px;
    box-shadow: 0px 10px 15px 6px rgba(0,0,0,0.1);
    padding: 50px;
    justify-content: center;
    align-items: center;
    }
h2{
    font-size: 300%;
}
.C_1 p{
    font-size: 25px;
    color: #9D98A2;
}
h2{
    color: #052B39;
}

.D {
    display: flex;
    background-color:#FFFFFF;
    margin: 60px;
    border-radius: 20px;
    box-shadow: 0px 10px 15px 6px rgba(0,0,0,0.1);
    padding: 50px;
    justify-content: center;
    align-items: center;
}
.D_1 p{
    font-size: 23px;
    color: #9D98A2;
}

.E {
    display: flex;
    background-color:#FFFFFF;
    margin: 60px;
    border-radius: 20px;
    box-shadow: 0px 10px 15px 6px rgba(0,0,0,0.1);
    padding: 50px;
    justify-content: center;
    align-items: center;
}
.E_1 p{
    font-size: 25px;
    color: #9D98A2;
}
.mileu{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color:#FFFFFF;
    gap: 2px;
    height: 300px;
    width: 40%;
    border-radius: 40px;
    box-shadow: 0px 10px 15px 6px rgba(0,0,0,0.1);
    position: relative;
    bottom: -80px;
    

}
h3{
    font-size: 50px;
}
.mileu button{
    background-color: hsl(322, 100%, 66%);
    border-radius: 30px;
    width: 350px;
    height: 60px;
    border: none;
    box-shadow: -7px 11px 15px -8px rgba(0,0,0,0.1);
    color: #fff;
    font-size: 25px;
}
.mileu button:hover{
    background-color: #FE7DD2 ;
    cursor: pointer;
}
footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    padding: 100px;
    color: white; 
    margin-top: 30px;
    gap: 30px;
    background-color: #002B36;
    
}
.F{
    display: flex;
}
.pied_page img{
    width: 300px;
    height: 300px; 
    filter: brightness(0) invert(1);
}
.F_1 p{
    width: 450px;
}
.F_1{
    font-size: 25px;
}
ul{
    list-style: none;
    font-size: 20px;
    line-height: 45px;
}
.l_1:hover{
    color: #FE7DD2;
    cursor: pointer;
    text-decoration: underline;
}
.l_2:hover{
    color: #FE7DD2;
    cursor: pointer;
    text-decoration: underline;
}
.l_3:hover{
    color: #FE7DD2;
    cursor: pointer;
    text-decoration: underline;
}
.l_4:hover{
    color: #FE7DD2;
    cursor: pointer;
    text-decoration: underline;
}
.l_5:hover{
    color: #FE7DD2;
    cursor: pointer;
    text-decoration: underline;
}
.l_6:hover{
    color: #FE7DD2;
    cursor: pointer;
    text-decoration: underline;
}
.cercle_1{
    width: 50px;
    height: 50px;
    border: solid white;
    border-radius: 50%;
}
.cercle_1:hover{
    border-color: #FE7DD2;
    cursor: pointer;
}
.H_1 {
    display: flex;
    gap: 20px;
}
.H_1{
    margin-bottom: 300px;
}
.H_2 p{
    text-align: end;
    margin-left: 80px;
    font-size: 22px
}
.H{
    padding-left: 335px;
}
.pied_page {
    display: flex;
    gap: 30px;
}


@media (max-width: 1440px){
    body {
        min-width: 1024px;
    }
    
   header{
        width: 1440px;
        height: auto;
        padding: 0;
    }
   .A{
    padding: 50px;
    margin: 0;
   }
   .A button {
    width: 140px;
   }
   .A img{
    width: 150px;
   }
    h1{
        width: 450px;
        font-size: 50px;
        text-align:start;
    }
   .B{
    gap: 70px;
    height: auto;
    margin-top: 0;
    margin-top: 40px;
    padding: 60px;
   }
  .B_1{
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    font-size: 48%;
    text-align: center;
    gap: 1000px;
  }
  .B_1 h1 {
    margin-bottom: 25px;
  }
  .B_1 p{
    font-size: 270%;
    width: 100%;
    text-align: start;
    margin-bottom: 30px;
    margin-left: 5px;
  }
  .B_1 button {
    margin-top: -5px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 300px;
   
  }
  .B_2 {
    width: 100%;
    margin-top: 40px;
  }
  main {
    width: 100%;
    gap: 15px;
    margin-top: 25px;
  }
  .C, .D, .E{
    width: 85%;
    gap: 50px;
    margin: 0;
    padding: 20px;

  }
  footer {
    width: 1440px;
    height: 600px;
    margin: 0;
    padding: 0;
    margin: 0;
  }
  .pied_page{
    margin-top: 100px;
    width: 80%;
    height: 320px;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    gap: 20px;
    padding: 40px;
  }
  img {
    width: 350px;
  }
  .pied_page img{
    display: flex;
    width: 160px;
    height: 300px;
   margin-top: 0;
    filter: brightness(0) invert(1);
}
h2 {
    font-size: 45px;
    margin-bottom: 40px;
}
.H {
    padding: 0;
    margin: 0;
    height: 80px;
}
.F{
    width: 100%;
    margin-top: 50px;
}
.H_1 {
    margin: 0;
    margin-bottom: 560px;

}
ul{
    padding: 0;
    width: 200px;
}
.C_1, .D_1, .E_1{
    width: 100%;
    text-align: start;
    padding-left: 20px;
    font-size: 50px;
    }
.mileu{
    width: 50%;
    gap: 30px;
}
   

h3 {
    font-size: 30px;
} 
.F_1{
    height: 100px;

}
.F_1 p{
   
    margin-bottom: 15px;
}
.H_2{
    align-items: end;
}
.H_2 p{
    margin: 0px;
}

}


@media (max-width: 1024px){
    body {
        min-width: 1024px;
    }
    
   header{
        width: 1024px;
        height: auto;
        padding: 0;
    }
   .A{
    padding: 50px;
    margin: 0;
   }
   .A button {
    width: 140px;
   }
   .A img{
    width: 150px;
   }
    h1{
        width: 450px;
        font-size: 50px;
        text-align:start;
    }
   .B{
    gap: 70px;
    height: auto;
    margin-top: 0;
    margin-top: 40px;
    padding: 60px;
   }
  .B_1{
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    font-size: 48%;
    text-align: center;
    gap: 1000px;
  }
  .B_1 h1 {
    margin-bottom: 25px;
  }
  .B_1 p{
    font-size: 270%;
    width: 100%;
    text-align: start;
    margin-bottom: 30px;
    margin-left: 5px;
  }
  .B_1 button {
    margin-top: -5px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 300px;
   
  }
  .B_2 {
    width: 100%;
    margin-top: 40px;
  }
  main {
    width: 100%;
    gap: 15px;
    margin-top: 25px;
  }
  .C, .D, .E{
    width: 85%;
    gap: 50px;
    margin: 0;
    padding: 20px;

  }
  footer {
    width: 1024px;
    height: 600px;
    margin: 0;
    padding: 0;
    margin: 0;
  }
  .pied_page{
    margin-top: 100px;
    width: 95%;
    height: 420px;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    gap: 20px;
    padding: 40px;
  }
  img {
    width: 350px;
  }
  .pied_page img{
    display: flex;
    width: 160px;
    height: 300px;
   margin-top: 0;
    filter: brightness(0) invert(1);
}
h2 {
    font-size: 45px;
    margin-bottom: 40px;
}
.H {
    padding: 0;
    margin: 0;
    height: 80px;
}
.F{
    width: 100%;
    margin-top: 50px;
}
.H_1 {
    margin: 0;
    margin-left: 160px;
    margin-bottom: 560px;

}
ul{
    padding: 0;
    width: 200px;
}
.C_1, .D_1, .E_1{
    width: 100%;
    text-align: start;
    padding-left: 20px;
    font-size: 50px;
    }
.mileu{
    width: 50%;
    gap: 30px;
}
   

h3 {
    font-size: 30px;
} 
.F_1{
    height: 100px;

}
.F_1 p{
   
    margin-bottom: 15px;
}
.H_2{
    align-items: end;
}
.H_2 p{
    margin: 0px;
}
}
@media (max-width: 768px) {
    header{
        width: 100%;
        height: auto;
        padding: 0;
    }
   .A{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 8px;
    padding: 0;
   }
   .A button {
    width: 140px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
   }
   .A img{
    width: 150px;
   }
   .B{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
   }
  .B_1{
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
  }
  .B_1 h1 {
    width: auto;
    margin-bottom: 25px;
    text-align: center;
    justify-content: center;
    align-items: center;
  }
  .B_1 p{
    font-size: 340%;
    width: 90%;
    text-align: center;
    margin-bottom: 30px;
    margin-left: 5px;
  }
  .B_1 button {
    margin-top: -5px;
    display: flex;
    align-items: center;
    justify-content: center;
   
  }
  .B_2 {
    width: 80%;
  }
  main {
    width: 100%;
    gap: 15px;
    margin-top: 25px;
  }
  .C, .D, .E{
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
    margin: 0;
     padding: 15px;

  }
  footer {
    width: 100%;
    height: auto;
    padding-top:120px;
  }
  .pied_page{
    margin: 0;
    padding: 0;
    width: auto;
    height: 750px;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 60px;
   
  }
  img {
    width: 350px;
  }
 .pied_page img{
    width: 180px;
    height: 80px; 
    filter: brightness(0) invert(1);
    display: flex;
    justify-content: start;
    align-items: start;
    text-align: start;
}
.H {
    padding: 0;
    margin: 0;
    height: 80px;
}
.F{
    width: 100%;
    margin-top: 50px;
}
.H_1 {
   margin: 0;
}
.G{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
ul{
    
    padding: 0;
    align-items: center;
}
.C_1, .D_1, .E_1{
    width: 90%;
    text-align: center;
}
.mileu{
    width: 50%;
}
.C, .E{
    flex-direction: column-reverse;
   
}
h3 {
    font-size: 30px;
}
.F_1 p{
    width: 93%;
    margin-bottom: 15px;
}
.H_2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 100px;
}
.H_2 p{
    margin: 0px;
}

}

@media (max-width: 425px){
    img {
    width: 300px;
    }
    h2{
        font-size: 35px;
        margin-bottom: 10px;
    }
    
   
    h3{
        text-align: center;
    }
    .mileu button{
        width: 60%;
        font-size: 20px;
        margin-top: 20px;
    }
    .H_2 P{
        width: 90%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    footer{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
  .B_1 p{
    
    width: 90%;
    text-align: center;
    margin-left: 20px;
    
  }
   
  B_1{

    width: 90%;
    font-size: 40%;
    text-align: center;
    gap: 1000px;

  }
  .B_1 button {
    width: 70%;
    font-size: 25px;
  } 

}
@media (max-width: 320px){

    img {
    width: 200px;
  }
  .B_1 button {
    width: 70%;
    font-size: 20px;
  } 
   .mileu button{
        width: 60%;
        font-size: 15px;
        margin-top: 20px;
    }
}
@media (max-width: 375px){

    img {
    width: 250px;
  }
  .B_1 button {
    width: 70%;
    font-size: 20px;
  } 
   .mileu button{
        width: 60%;
        font-size: 18px;
        margin-top: 20px;
    }
    h1{
        font-size: 35px;
    }
}

 





